<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.professor.houseserver.dao.QuestionDao">

    <resultMap id="questionAnswerMap" type="com.professor.houseserver.domain.vo.QuestionAnswerDTO">
        <id property="id" column="id"></id>
        <result property="content" column="content"></result>
        <result property="isFree" column="is_free"></result>
        <result property="createTime" column="create_time"></result>
        <result property="quesdUserId" column="quesd_user_id"></result>
        <result property="quesdUserName" column="quesd_user_name"></result>
        <result property="quesUserId" column="ques_user_id"></result>
        <result property="quesUserName" column="ques_user_name"></result>
        <collection property="answers" ofType="com.professor.houseserver.domain.Answer">
            <id property="id" column="aid"></id>
            <result property="content" column="acontent"></result>
            <result property="likedCount" column="liked_count"></result>
            <result property="createTime" column="acreate_time"></result>
            <result property="userId" column="user_id"></result>
            <result property="questionId" column="ques_id"></result>
        </collection>
    </resultMap>
    <sql id="questionColumn">
        q.id,q.is_free,q.create_time,q.quesd_user_id,q.quesd_user_name,q.ques_user_id,q.ques_user_name
    </sql>
    <sql id="answersColumn">
        a.id as aid,a.content as acontent,a.liked_count,a.create_time as acreate_time,a.user_id,a.ques_id
    </sql>

    <select id="selectPage" resultMap="questionAnswerMap">
        select <include refid="questionColumn"></include>,<include refid="answersColumn"></include>

        from question q left join answer a on q.id = a.ques_id

    </select>
</mapper>